<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.ganeshh123.meditation"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Meditation</name>

  <description>
      Choose from a selection of Scenes to relax, focus, meditate or sleep!
  </description>

  <author href="https:ganeshh123.github.io" email="">
      Ganesh H
  </author>

</widget>