* {
    font-family: 'Heebo', sans-serif;
}

html,
body {
    margin: 0;
}

#main {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#main video {
    z-index: -1;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3a3a3a;
}


.footer {
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    position: fixed;
    bottom: 5px;
    width: 100%;
    color: #ffffff;
}

.footer a {
    text-decoration: none;
}


#player {
    width: 350px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.3);;
}
#player i {
    position: absolute;
    margin-top: -6px;
    color: #666;
    top: 20px;
}
#player i.fa-volume-down {
    margin-left: -8px;
}
#player i.fa-volume-up {
    margin-right: -8px;
    right: 0;
}
#musicvolume {
    position: absolute;
    left: 24px;
    margin: 0 auto;
    height: 5px;
    width: 300px;
    background: #555;
    border-radius: 15px;
    top: 20px
}
#musicvolume .ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: #2ecc71;
    border: none;
    border-radius: 10px;
    outline: none;
}
#musicvolume .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #fff;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
}


