#launch{
    min-width: 400px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

#launchTitleBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin-bottom: 25px;
}

#launchTitleContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#launchTitle{
    margin-left: 20px;
    font-size: 3.5vh;
}

#launchCloseButton{
    height: 2.7vh;
    margin-left: 10px;
}

#launchHeader{
    font-size: 36px;
    margin-bottom: 20px;
}

.launchNotification{
    display: flex;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.launchNotificationIcon{
    margin-right: 2vh;
    height: 4vh;
    width: auto;
}