#launch{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
}

#launchTitle{
    font-size: 6vh;
    margin-bottom: 70px;
}

#launchMessage{
    font-size: 4vh;
    margin-bottom: 20px;
}

#launchContent{
    flex: 1;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.launchNotification{
    display: flex;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.launchNotificationIcon{
    margin-right: 2vh;
    height: 4vh;
    width: auto;
}

#returningContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#returningMessage{
    margin-top: 180px;
    font-size: 5vh;
    margin-bottom: 30px;
}

#returningButton{
    font-size: 3vh;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
}