#timerSetup {
    flex: 1;
    width: 100%;
    position: relative;
    padding: 2vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#timerSetupCloseButton{
    height: 4.5vh;
    position: fixed;
    top: 2.5vh;
    right: 50px;
    cursor: pointer;
}

#timerSetupTitle {
    margin-left: 1vh;
    font-size: 5vh;
    text-align: center;
}

#timerSetupMain{
    flex: 1;
    max-width: 600px;
    width: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timerSetupMiddle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#timerSetupWarning {
    display: flex;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

#timerSetupWarningIcon {
    margin-right: 2vh;
    height: 4vh;
    width: auto;
}

#timerSetupBeginButton {
    font-family: 'Bubbler One', sans-serif;
    font-size: 5vh;
    padding: 0.2vh 1vh 0.5vh 1vh;
    cursor: pointer;
    border-radius: 1.5vh;
    margin-bottom: 5vh;
}