#timerSetup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    min-width: 30%;
    border-radius: 5px;
}

#timerSetupViewControls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#timerSetupTitle{
    font-size: 24pt;
}