.timerLengthAdjuster{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 15px 0px 15px;
}

.timerLengthAdjusterValues{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timerLengthAdjusterContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timerLengthAdjusterType{
    text-transform: capitalize;
    font-size: 20pt;
    margin-top: 10px;
}

.timerLengthAdjusterInput{
    font-size: 3vw;
    max-width: 50px;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

input:focus{
   outline: 2px solid #72ce35;
}

.timerLengthAdjusterUnit{
    font-size: 15pt;
}