.timerControlIcon {
    height: 1.5rem;
    width: auto;
    cursor: pointer;
}

#timer {
    width: 100%;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 1.5rem;
    @apply max-w-3xl;
    margin-top: 4rem;
}

#timerViewControls {
    width: 100%;
    display: flex;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-top: 0.4rem;
    flex-direction: row;
    justify-content: space-between;
}

#timerCloseButton {
    width: 1.5rem;    
    height: 1.5rem;
    margin-top: 0.4rem;
    margin-right: 0.75rem;
    position: relative;
}

#timerPinHolder {
    height: 3rem;
    width: 3rem;
    position: relative;
    top: -0.5rem;
    left: 0.15rem;
    padding-left: 0.55rem;
    padding-top: 0.2rem;
    margin-left: -0.5rem;
    border-radius: 50%;

    &:hover {
        .pin-rotated {
            transform: rotate(0deg);
            top: 0.25rem;
            transition: 0.5s;
            opacity: 1;
        }
    }
}

#timerPinButton {
    height: 2rem;
    width: 2rem;
    position: relative;
    border-radius: 50%;
}

#timerBackButton, #timerSkipButton {
    width: 2.55rem;
}

.pin-rotated {
    transform: rotate(70deg);
    top: 0.25rem;
    opacity: 0.7;
    transition: 0.5s;
}

.pin-normal {
    transform: rotate(0deg);
    top: 0.5rem;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    } 
}

#timerTimeDisplay {
    width: 100%;
    margin-top: -2.6rem;
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    @apply flex justify-center;
}

#timerCurrentPhaseDisplay {
    width: 100%;
    margin-top: -1.3rem;
    margin-bottom: 0.9rem;
    text-align: center;
    font-size: 1.8rem;
}

#timerProgressBarContainer {
    height: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#timerProgressBarRange {
    width: 80%;
    height: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1000px;
}

#timerProgressBarBack {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-radius: 1000px;
}

#timerProgressBar {
    height: 0.5rem;
    margin-top: -0.25rem;
    border-radius: 1000px;
}

#timerBottomBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#timerControls {
    width: 80%;
    margin-top: 1.25rem;
    margin-left: 10%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* Timer Setup */

#timerSetupMiddle {
    @apply flex flex-col justify-center items-center mt-10;
    @apply sm:flex-row gap-y-0 gap-x-10;
}

#timerSetupWarning {
    @apply flex justify-center items-center mt-10 mb-10 text-xl;
    @apply md:text-2xl mt-8;
}

#timerSetupWarningIcon {
    margin-right: 1rem;
    height: 2rem;
    width: auto;
}

#timerSetupBeginButton {
    font-family: 'Bubbler One', sans-serif;
    @apply cursor-pointer p-2 rounded-xl text-2xl mt-14;
    @apply md:text-3xl md:p-4;
}

/* Timer Length Adjuster */

.timerLengthAdjuster{
    @apply flex flex-col justify-center items-center;
    @apply mx-2 my-5;
}

.timerLengthAdjusterInputContainer{
    @apply flex flex-row justify-center items-center;
    @apply mb-2;
}

.timerLengthAdjusterInput{
    max-width: 100px;
    @apply rounded-xl;
    @apply text-xl py-2 px-5 mx-2 my-2;
    @apply md:text-2xl;
}

.timerLengthAdjusterUnit{
    @apply text-xl;
    @apply md:text-2xl;
}

.timerLengthAdjusterType{
    @apply capitalize;
    @apply text-3xl;
    @apply md:text-4xl;
}

.timerLengthAdjusterInput::-webkit-outer-spin-button,
.timerLengthAdjusterInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.timerLengthAdjusterInput {
    -moz-appearance:textfield; /* Firefox */
}

.timerLengthAdjusterInput:focus{
    outline: 2px solid #72ce35;
}