#timerSetup {
    min-width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    border-radius: 2vh;
}

#timerSetupViewControls {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 4vh;
    margin-left: 4vh;
    margin-top: -0.5vh;
}

#timerSetupTitle {
    font-size: 5vh;
}

#timerSetupMiddle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#timerSetupWarning {
    display: flex;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

#timerSetupWarningIcon {
    margin-right: 1vh;
    height: 4vh;
    width: auto;
}

#timerSetupBeginButton {
    font-family: 'Bubbler One', sans-serif;
    font-size: 3vh;
    padding: 0.2vh 1vh 0.5vh 1vh;
    border-radius: 1vh;
    cursor: pointer;
}