.selectionVolumeControl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh 2vw;
}

.volumeSliderContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}