.selectionVolumeControl {
    display: flex;
    flex-direction: column;
    margin: 1vh 2vw;
}

.sourceSelector {
    width: fit-content;
    max-width: 30vh;
    font-size: 2.5vh;
    padding: 0;
    margin: 0;
}

.volumeSliderContainer {
    display: flex;
    flex-direction: row;
}

.volumeSlider {
    width: 100%;
    height: 1vh;
    margin-top: auto;
    margin-bottom: auto;
}

.iconContainer {
    width: 5vh;
    height: 5vh;
    padding-top: 0.5vh;
    vertical-align: middle;
}

.volumeIcon {
    height: 4vh;
}

.sourceDescription {
    width: 100%;
    font-size: 2.1vh;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}