.selectionVolumeControl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px 5px 10px;
}

.volumeSliderContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}