.sidePanel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidePanelIcon { 
    width: 10vh;
    height: 10vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    border-radius: 2vh;
    cursor: pointer;
}

.sidePanel img {
    width: 7vh;
    height: 7vh;
}