#presetsButton {
    margin-top: 1.2vh;
}

#newTimerButton {
    margin-top: 1.2vh;
    margin-left: 0.7vh;
}

#lightDarkButton {
    margin-top: 1.3vh
}

#videoToggleButton {
    margin-top: 1.1vh;
    margin-left: -0.2vh;
}

#sidePanelBlockExpanded {
    padding-top: 1.2vh;
    margin-bottom: -1vh;
    border-radius: 2vh 2vh 0 0;
    clip-path: inset(-10% -10% 0.5vh -10%);
}

.sidePanel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidePanelIcon { 
    width: 10vh;
    height: 10vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    border-radius: 2vh;
    cursor: pointer;

    img {
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }
    }
}

.sidePanel img {
    width: 7vh;
    height: 7vh;
}