.sidePanel{
    @apply hidden sm:flex;
    @apply flex-col;
    @apply w-24 z-10;
}

#leftPanel {
    @apply items-start;
}

#rightPanel {
    @apply items-end;
}

.mobileControls {
    @apply absolute flex flex-col justify-start items-start;
    top: 15vh;
    margin-top: -2vh;
}

.sidePanelButton {
    @apply w-20 h-20 rounded-2xl cursor-pointer flex justify-center items-center mb-2;
    @apply lg:w-24 lg:h-24 lg:mb-4;
}

.sidePanelIcon {
    opacity: 0.7;
    @apply h-14 w-14 m-1;
    @apply lg:h-16 lg:w-16;
}

.sidePanelButton:hover .sidePanelIcon {
    opacity: 1;
}

#presetsButtonContainerPressed {
    @apply mb-0;
    border-bottom-left-radius: 0.8vh;
    border-bottom-right-radius: 0.8vh;
}

/* Mobile Controls */

#mobileControls {
    @apply flex flex-row justify-center w-full;
    @apply px-4 py-2 rounded-xl gap-x-12 mt-5 mb-2;
    @apply sm:hidden;
}

.mobileControlIcon{
    width: 5vh;
    height: 5vh;
    opacity: 0.7;
}