.sidePanel{
    @apply hidden sm:flex;
    @apply flex-col;
    @apply w-24 z-10;
}

#leftPanel {
    @apply items-start;
}

#rightPanel {
    @apply items-end;
}

.mobileControls {
    @apply absolute flex flex-col justify-start items-start;
    top: 15vh;
    margin-top: -2vh;
}

.sidePanelButton {
    @apply w-[4.5rem] h-[4.5rem] rounded-2xl cursor-pointer flex justify-center items-center mb-3;
}

.sidePanelIcon {
    opacity: 0.7;
    @apply h-12 w-12 m-1;
}

.sidePanelButton:hover .sidePanelIcon {
    opacity: 1;
}

#timerSetupButton {
    padding-left: 0.35em;
}

#presetsButton {
    padding: 0.2em;
}

#presetsButtonContainerPressed {
    @apply h-[4.3rem] mb-0 pt-[0.25rem];
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}


/* Mobile Controls */

#mobileControls {
    @apply flex flex-row justify-center w-full;
    @apply px-4 py-2 rounded-xl gap-x-12 mt-5 mb-2;
    @apply sm:hidden;
}

.mobileControlIcon{
    width: 5vh;
    height: 5vh;
    opacity: 0.7;
}