#presetsMenu {
    padding: 0.5rem 0 0.6rem 0;
    border-radius: 0.4rem 1rem 1rem 1rem;
    @apply flex flex-col justify-start items-start;
    @apply mt-[0.19rem] mb-[0.85rem];
}

#sleepPresetMenuButtonIcon, #relaxPresetMenuButtonIcon, #focusPresetMenuButtonIcon {
    height: 4.5rem;
    width: 4.5rem;
}

.presetsMenuButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-right: 2.5rem;
    padding-left: 0.5rem;
    opacity: 0.7;
}

.presetsMenuButton:hover {
    opacity: 1;
    cursor: pointer;
}

.presetsMenuButtonIcon {
    padding-right: 1rem;
    padding-left: 1rem;
}

.presetsMenuButtonText {
    padding-top: 0.3rem;
    font-size: 1.7rem;
}

#resumeOption{
    margin-top: 25px;
}

/* Preset Box */

.presetBox{
    @apply flex flex-col justify-center items-center h-auto cursor-pointer rounded-2xl opacity-80;
    @apply w-60 mt-2 mb-5 mx-5 p-5;
    @apply md:mx-2 md:p-4;
    @apply lg:w-auto lg:mx-5 lg:p-7 lg:mb-0;
    @apply hover:opacity-100;
}

.presetBoxImage{
    @apply h-40 w-40;
    @apply md:h-48 md:w-48;
    @apply lg:w-60 lg:h-60;
}

.presetBoxTitle{
    @apply text-3xl mt-3;
    @apply lg:text-4xl lg:mt-6;
}