#presetsMenu {
    padding: 1vh 0 1.2vh 0;
    border-radius: 0.8vh 2vh 2vh 2vh;
    @apply flex flex-col justify-start items-start;
    @apply mt-1 mb-2;
}

#sleepPresetMenuButtonIcon, #relaxPresetMenuButtonIcon, #focusPresetMenuButtonIcon {
    height: 9vh;
    width: 9vh;
}

.presetsMenuButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-right: 5vh;
    opacity: 0.7;
}

.presetsMenuButton:hover {
    opacity: 1;
    cursor: pointer;
}

.presetsMenuButtonIcon {
    padding-right: 1.2vh;
    padding-left: 1.8vh;
}

.presetsMenuButtonText {
    font-size: 4vh;
}

#resumeOption{
    margin-top: 25px;
}

/* Preset Box */

.presetBox{
    @apply flex flex-col justify-center items-center h-auto cursor-pointer rounded-lg opacity-80;
    @apply w-60 mt-2 mb-5 mx-5 p-5;
    @apply md:mx-2 md:p-4;
    @apply lg:w-auto lg:mx-5 lg:p-7 lg:mb-0;
    @apply hover:opacity-100;
}

.presetBoxImage{
    @apply h-40 w-40;
    @apply md:h-48 md:w-48;
    @apply lg:w-60 lg:h-60;
}

.presetBoxTitle{
    @apply text-3xl mt-3;
    @apply lg:text-4xl lg:mt-6;
}