#presetsMenu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 1vh 0 1.2vh 0;
    margin-bottom: 2vh;
    border-radius: 0 2vh 2vh 2vh;
    clip-path: polygon(10vh -10%, 110% -10%, 110% 110%, -10% 110%, -10% 0.2vh, 10vh 0.2vh);
}

#sleepPresetMenuButtonIcon, #relaxPresetMenuButtonIcon, #focusPresetMenuButtonIcon {
    height: 9vh;
    width: 9vh;
}

.presetsMenuButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-right: 5vh;
    opacity: 0.7;
}

.presetsMenuButton:hover {
    opacity: 1;
    cursor: pointer;
}

.presetsMenuButtonIcon {
    padding-right: 1.2vh;
    padding-left: 1.8vh;
}

.presetsMenuButtonText {
    font-size: 4vh;
}