#presetsMenu {
    padding: 0.5rem 0 0.6rem 0;
    border-radius: 0.4rem 1rem 1rem 1rem;
    @apply flex flex-col justify-start items-start;
    @apply mt-[0.19rem] mb-[0.85rem];
}

#sleepPresetMenuButtonIcon, #relaxPresetMenuButtonIcon, #focusPresetMenuButtonIcon {
    height: 4.5rem;
    width: 4.5rem;
}

.presetsMenuButton {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-right: 2.5rem;
    padding-left: 0.5rem;
    opacity: 0.7;
}

.presetsMenuButton:hover {
    opacity: 1;
    cursor: pointer;
}

.presetsMenuButtonIcon {
    padding-right: 1rem;
    padding-left: 1rem;
}

.presetsMenuButtonText {
    padding-top: 0.3rem;
    font-size: 1.7rem;
}

#resumeOption {
    margin-top: 25px;
}

/* Preset Box */

.presetBox {
    @apply flex flex-col justify-center items-center h-auto cursor-pointer rounded-[2.5rem] opacity-80;
    @apply w-60 h-[32rem] mt-2 mb-5 mx-5 p-5;
    @apply md:mx-3 md:p-4;
    @apply lg:w-auto lg:mx-6 lg:p-7 lg:mb-0;
    @apply hover:opacity-100;

    &:hover {
        //Sleep Icon
        #moon {
            transform: translate(1.7rem, -5rem);
            transform: rotate(-9deg);
        }

        #star-1 {
            transform: translate(-1.7rem, -1.8rem);
        }

        #star-2 {
            transform: translate(2rem, -2.2rem);
        }

        #star-3 {
            transform: translate(-1.4rem, -1.9rem);
        }

        #star-4 {
            transform: translate(2rem, -1.6rem);
        }

        #star-5 {
            transform: translate(-1.5rem, -1.4rem);
        }

        //Relax
        #sun {
            position: relative;
            transform: translate(0, -4rem);
        }

        #rocks {
            position: relative;
            transform: translate(3rem, 0);
        }

        #plant {
            transform: scale(1.1) translate(-8px, -22px);
        }

        //Focus
        #focus-pin {
            transform: translate(-40rem, 3rem);
            transform: rotate(-80deg);
        }

        #pencil {
            transform: translate(0.5rem, -1rem);
        }

        #paperclip {
            transform: rotate(10deg);
        }
    }
}

.presetBoxImage {
    @apply md:w-48;
    @apply lg:w-72 lg:h-64;
    @apply my-16;
    overflow: visible;
}

.presetBoxTitle {
    @apply text-3xl mt-3;
    @apply lg:text-5xl lg:mt-5;
}

#sleepImage {
    @apply h-80;
}

#relaxImage {
    position: relative;
}

#focusImage {

}

#moon, #star-1, #star-2, #star-3, #star-4, #star-5, #sun, #rocks, #plant, #focus-pin, #pencil, #paperclip {
    transition: all 0.5s;
}