#presetsMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-right: 50px;
    border-radius: 5px;
}

.presetsMenuButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.presetsMenuButtonIcon{
    margin-right: 20px;
}

.presetsMenuButtonText{
    font-size: 28px;
}