#settings {
    height: 86vh;
    width: 30vw;
    position: relative;
    padding: 2vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#settingsTitleBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

#settingsTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#settingsTitle {
    margin-left: 1vh;
    font-size: 5vh;
    text-align: center;
}

#settingsCloseButton {
    height: 2.7vh;    
    margin-left: -2.8vh;
    margin-top: -2.6vh;
}

#settingsMenu {
    width: 100%;
    margin-top: 2.5vh;
}

#settingsReset {
    position: absolute;
    bottom: 2vh;
    padding: 1.5vh;
    text-align: center;
    font-size: 2.5vh;
    cursor: pointer;
    border-radius: 1.5vh;
}

.settingsMenuItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0.7vh;
    padding-bottom: 0.5vh;
}

.settingsMenuItemLeftSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 90%;
}

#notificationIcon {
    height: 5.32vh;
}

#solidGlassIcon {
    height: 8.6vh;
}

.settingsMenuItemLabel {
    font-size: 3.4vh;
    margin-left: 3vh;
}

.settingsToggleSwitch {
    width: 400vw;
    text-align: center;
    padding: 0.5vh;
    font-size: 2.5vh;
    border-radius: 1vh;
    cursor: pointer;
}