#settings {
    flex: 1;
    width: 100%;
    position: relative;
    padding: 2vh;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#settingsTitle {
    margin-left: 1vh;
    font-size: 5vh;
    text-align: center;
}

#settingsCloseButton {
    height: 4.5vh;
    position: fixed;
    top: 2.5vh;
    right: 50px;
}

#settingsMenu {
    flex: 1;
    max-width: 600px;
    width: auto;
    margin-top: 10vh;
}

#settingsReset {
    position: absolute;
    bottom: 2vh;
    padding: 1.5vh;
    text-align: center;
    font-size: 2.5vh;
    cursor: pointer;
    border-radius: 1.5vh;
    margin-bottom: 5vh;
}

.settingsMenuItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0.7vh;
    padding-bottom: 0.5vh;
}

.settingsMenuItemLeftSide {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-width: 90%;
}

#notificationIcon {
    height: 5.32vh;
}

#solidGlassIcon {
    height: 8.6vh;
}

.settingsMenuItemLabel {
    font-size: 3.4vh;
    margin-left: 3vh;
}

.settingsToggleSwitch {
    min-width: 10vw;
    min-height: 2vh;
    text-align: center;
    padding: 0.5vh;
    font-size: 2.5vh;
    border-radius: 1vh;
    cursor: pointer;
    text-transform: capitalize;
}