#appOverlay{
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
    max-height: 100vh;
    max-width: 100vw !important;
    @apply z-20;
}

.overlayCloseButton{
    @apply absolute h-10 w-10 top-4 right-4 md:right-8;
}

.overlayContainer{
    @apply flex-1 w-full pt-2 px-2 flex flex-col items-center overflow-y-hidden;
    @apply 2xl:max-w-screen-2xl;
}

.overlayTitle{
    font-family: 'Quicksand', sans-serif;
    @apply font-medium;
    @apply text-5xl pr-10;
    @apply sm:pr-0;
    @apply lg:text-6xl;
}

.overlayContent{
    @apply flex-1 mt-5 w-full flex flex-col justify-start items-center overflow-x-hidden;
    @apply sm:justify-center;
}

@supports ((backdrop-filter: blur(2.3vh))) or (-webkit-backdrop-filter: blur(2.3vh)) {
    #appOverlay{
        backdrop-filter: blur(2.3vh);
        -webkit-backdrop-filter: blur(2.3vh);
    }
}
