#appOverlay{
    z-index: 3;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.5s;
    max-height: 100vh;
}