.confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmationChoiceContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.confirmationMessage{
    font-size: 2rem;
    margin-bottom: 20px;
}

.confirmationChoice{
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    text-align: center;
    min-width: 100px;
    margin-left: 25px;
    margin-right: 25px;
}

.loading{
    z-index: 2;
    @apply h-20 w-20;
    position: fixed;
    bottom: 5rem;
    right: 50px;
}