@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, :after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 100vh;  
}

html {
    overflow: hidden;
}

body {
    font-family: 'Bubbler One', sans-serif;
    font-size: 62.5%;
}

::selection {
    background: #72ce35;
}

::-moz-selection {
    background: #72ce35;
}

#calmeo{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

#app {
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#appTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
}

#appMiddle {
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#appCenter {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#appBottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: none;
}

.iconButton {
    opacity: 0.7;
    cursor: pointer;
    
    &:hover {
        opacity: 1;
    }
}

.overlayCloseButton{
    height: 4.5vh;
    width: 4.5vh;
    position: fixed;
    top: 2.5vh;
    right: 50px;
}

.glassBlock {
    background: linear-gradient(130deg, rgba(0, 0, 0, 0) 10vh, rgba(255, 255, 255, 0.12) 24vh, rgba(0, 0, 0, 0) 38vh);
}

/* Fade Animations */

@keyframes fadeIn { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

@keyframes fadeOut { 
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
}

.hidden {
    animation: fadeOut 2s;
}

.showing{
    animation: fadeIn 0.5s;
}

.invisible{
    opacity: 0
}

.visible{
    opacity: 1
}

/* */

/* Scrollbars */

::-webkit-scrollbar {     
  background: transparent !important;
  width: 1.0em;
  cursor: default;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  #797979;
  border-radius: 5px;
  cursor: pointer;
}

/**/

/* Loading Spinners */
.dot-spinner-64x64 {
    animation: dot-spinner-64x64 1s steps(12) infinite;
    display: block;
    width: 64px;
    height: 64px;
}

@keyframes dot-spinner-64x64 {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px -768px;
    }
}

/* */

@supports ((backdrop-filter: blur(2.3vh))) or (-webkit-backdrop-filter: blur(2.3vh)) {
    #appOverlay{
        backdrop-filter: blur(2.3vh);
        -webkit-backdrop-filter: blur(2.3vh);
    }
}