@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');

*, *:before, :after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;    
}

html {
    overflow: hidden;
}

body {
    font-family: 'Bubbler One', sans-serif;
    font-size: 62.5%;
}

svg {
    stroke-width: 10;
    stroke-opacity: 50%;
}

::selection {
    background: #7de03b;
}

::-moz-selection {
    background: #7de03b;
}

#app {
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#appTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
}

#appOverlay{
    z-index: 2;
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#appMiddle {
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#appCenter{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#appBottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
}

.iconButton {
    opacity: 0.7;
    cursor: pointer;
    
    &:hover {
        opacity: 1;
    }
}

.glassBlock {
    background: linear-gradient(130deg, rgba(0, 0, 0, 0) 10vh, rgba(255, 255, 255, 0.12) 24vh, rgba(0, 0, 0, 0) 38vh);
}

@supports ((backdrop-filter: blur(1.4vh))) or (-webkit-backdrop-filter: blur(1.4vh)) {
    #appOverlay{
        background-color: rgba(0, 0, 0, 0.08);
        backdrop-filter: blur(1.4vh);
        -webkit-backdrop-filter: blur(1.4vh);
    }
}