@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bubbler One';
    src: url('../assets/fonts/BubblerOne-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand_Light.woff2') format('woff2');
}

*, *:before, :after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

html, body, #app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 100vh;  
}

html {
    overflow: hidden;
}

body {
    font-family: 'Bubbler One', sans-serif;
    font-size: 62.5%;
}

::selection {
    background: #000000;
}

::-moz-selection {
    background: #000000;
}

input[type="range"] {
    background: transparent;
	-webkit-appearance: none;

    &::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: 1.5vh;
		width: 1.5vh;
        margin-top: -0.4vh;
		border-radius: 50%;
		background: #ffffff;		
		box-shadow: 1px 1px 2px rgba(#000000, 0.4);
		cursor: pointer;		
	}

	&::-webkit-slider-runnable-track {
		height: 0.5vh;
		background: #ffffff;
		border-radius: 0.5vh;
        opacity: 0.5;
		transition: opacity 0.4s;
		cursor: pointer;
	}

	&:hover::-webkit-slider-runnable-track {
		opacity: 1;
	}

    &::-ms-track {
		height: 0.1vh;
		transition: opacity 0.4s;
        background: transparent;
		border-color: transparent;
		color: transparent;
        cursor: pointer;
	}

	&::-ms-thumb {
        width: 1vh;
		height: 1vh;
        margin-top: -0.5vh;
        background: #ffffff;
		border-radius: 50%;		
		box-shadow: 0.1vh 0.1vh 0.2vh rgba(#000000, 0.4);
		cursor: pointer;
	}

	&::-ms-fill-lower {
        background: #ffffff;
        border-radius: 0.5vh;
		opacity: 1;
	}

	&:focus::-ms-fill-lower {
        background: #ffffff;
		opacity: 1;
	}

	&::-ms-fill-upper {
		background: #ffffff;
        border-radius: 0.5vh;
	}

	&::-moz-range-thumb {
        width: 1vh;
		height: 1vh;
        margin-top: -0.5vh;
		border-radius: 50%;
		background: #ffffff;
		box-shadow: 0.1vh 0.1vh 0.2vh rgba(#000000, 0.4);
		cursor: pointer;
	}

	&::-moz-range-track {
		height: 0.8vh;
		opacity: 0.5;
        background: #ffffff;
        border-radius: 0.5vh;
		transition: opacity 0.4s;
		cursor: pointer;
	}
    
	&:hover::-moz-range-track {
		opacity: 1;
	}
}

#app{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 100vh;
}

#calmeo {
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#appTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: none;
}

#appMiddle {
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#appCenter {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#appBottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: none;
}

.iconButton {
    opacity: 0.7;
    cursor: pointer;
    
    &:hover {
        opacity: 1;
    }
}

.glassBlock {
    background: linear-gradient(130deg, rgba(0, 0, 0, 0) 10vh, rgba(255, 255, 255, 0.12) 24vh, rgba(0, 0, 0, 0) 38vh);
}

/* Fade Animations */

@keyframes fadeIn { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

@keyframes fadeOut { 
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
}

.playFadeOut {
    animation: fadeOut 2s;
}

.playFadeIn{
    animation: fadeIn 0.5s;
}

.invisible{
    opacity: 0
}

.visible{
    opacity: 1
}

/* */

/* Scrollbars */

::-webkit-scrollbar {     
  background: transparent !important;
  width: 1.0em;
  cursor: default;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background:  #797979;
  border-radius: 5px;
  cursor: pointer;
}

/**/

/* Loading Spinners */
.dot-spinner-64x64 {
    animation: dot-spinner-64x64 1s steps(12) infinite;
    display: block;
    width: 64px;
    height: 64px;
}

@keyframes dot-spinner-64x64 {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px -768px;
    }
}

/* */

