#titleBar{
    height: 100%;
    min-width: 300px;
    max-width: 1500px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#appTitleText{
    margin-left: 20px;
}

#titleBarButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 20px;
}

.titleBarButton{
    margin-left: 5px;
    margin-right: 5px;
    background: none;
}