/* Volume Control */

.volumeSliderContainer {
    @apply flex flex-row justify-center items-center w-full;
    max-width: 500px;
}

.volumeSlider {
    @apply h-1;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

.volumeIcon {
    @apply w-7 h-7 mr-3;
}

/* Media Panel */
#mediaPanel {
    @apply rounded-3xl w-full;
    @apply flex flex-col items-center mx-2 mt-2 px-2 pt-2 pb-1;
    @apply md:flex-row md:justify-center md:items-center;
}

.mediaPanelSection {
    @apply flex flex-col mx-2 mt-[0.52rem] mb-4 w-full;
    @apply md:items-center;
}

/* Media Select Open Button */

.mediaSelectOpenButton { 
    @apply w-full h-14 mb-4 p-4 rounded-2xl;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    cursor: pointer;
    
    &:hover {
        box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.3);

        .mediaSelectOpenButtonIcon, .mediaSelectOpenButtonText {
            opacity: 1;
        }        
    }
}


.mediaSelectOpenButtonIcon {
    @apply h-7 ml-1 mr-4;
    width: auto;
    opacity: 0.8;
}

.mediaSelectOpenButtonText {
    @apply text-[1.1rem] font-semibold;
    flex: 1;
    opacity: 0.8;
    font-family: 'Quicksand', sans-serif;
}

/* Media Select */

.mediaSelectMenu {
    @apply w-full flex flex-col justify-start items-center;
    @apply sm:flex-row sm:justify-center sm:items-start sm:flex-wrap;
    @apply overflow-y-auto;
}

/* Media Box */

.mediaBox{
    @apply rounded-xl cursor-pointer relative;
    @apply w-64 h-48 p-0 mb-10 mx-2;
    @apply sm:mx-5;
    @apply md:mx-10;
    @apply lg:mx-12 lg:w-72 lg:h-52;
}

.mediaBoxDescription{
    @apply z-10 absolute w-full h-full rounded-t-xl  opacity-0;
    @apply p-5 text-lg;
    @apply lg:text-xl;
}

.mediaBox:hover .mediaBoxDescription{
    opacity: 100%;
}

.mediaBoxImage{
    @apply w-full bg-center bg-cover rounded-t-xl;
    @apply h-36;
    @apply lg:h-40;
}

.mediaBoxTitle{
    @apply py-2 px-2 text-xl;
    @apply lg:py-3 lg:px-3 lg:text-2xl;
}

/* Alarm Volume Control */

.alarmVolumeControl{
    @apply flex flex-row justify-center items-center;
    @apply my-7;
}

.alarmVolumeSlider{
    @apply mx-2 w-40 h-5;
}

.alarmMuteButton{
    @apply cursor-pointer;
    @apply h-8 w-8;
}

