#divider {
    width: 0.2%;
    min-width: 1px;
    height: 80%;
    padding-top: 10%;
    opacity: 0.4;
    border-radius: 1000px;
    z-index: 2;
}

/* Volume Control */

.volumeSliderContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 4vh;
    margin-right: 4vh;
}

.volumeSlider {
    width: 100%;
    height: 1vh;
    margin-top: auto;
    margin-bottom: auto;
}

.volumeIcon {
    height: 3vh !important;
    width: 3vh !important;
    margin-right: 2vh;
}

/* Media Panel */
.mediaPanel {
    width: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4.5vh 0;
    border-radius: 3vh;
    padding: 4vh 2vh;
}

.mediaPanelSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Media Select Open Button */

.mediaSelectOpenButton{ 
    width: 50%;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    border-radius: 3vh;
    opacity: 0.8;
    box-shadow: 0 1.5vh 3vh rgba(0,0,0,0.2);
    cursor: pointer;
}

.mediaSelectOpenButton:hover .mediaSelectOpenButtonIcon, .mediaSelectOpenButton:hover .mediaSelectOpenButtonText {
    opacity: 1;
}

.mediaSelectOpenButtonIcon {
    height: 2.5vh;
    width: auto;
    margin-right: 4vh;
    opacity: 0.8;
}

.mediaSelectOpenButtonText {
    flex: 1;
    opacity: 0.8;
    font-size: 2.25vh;
    font-family: 'Quicksand', sans-serif;
}

/* Media Select */

.mediaSelectMenu {
    @apply w-full flex flex-col justify-start items-center;
    @apply sm:flex-row sm:justify-center sm:items-start sm:flex-wrap;
    @apply overflow-y-auto;
}


/* Media Box */

.mediaBox{
    @apply rounded-xl cursor-pointer relative;
    @apply w-64 h-48 p-0 mb-10 mx-2;
    @apply sm:mx-5;
    @apply md:mx-10;
    @apply lg:mx-12 lg:w-72 lg:h-52;
}

.mediaBoxDescription{
    @apply z-10 absolute w-full h-full rounded-t-xl  opacity-0;
    @apply p-5 text-lg;
    @apply lg:text-xl;
}

.mediaBox:hover .mediaBoxDescription{
    opacity: 100%;
}

.mediaBoxImage{
    @apply w-full bg-center bg-cover rounded-t-xl;
    @apply h-36;
    @apply lg:h-40;
}

.mediaBoxTitle{
    @apply py-2 px-2 text-xl;
    @apply lg:py-3 lg:px-3 lg:text-2xl;
}

/* Alarm Volume Control */

.alarmVolumeControl{
    @apply flex flex-row justify-center items-center;
    @apply my-7;
}

.alarmVolumeSlider{
    @apply mx-2 w-40 h-5;
}

.alarmMuteButton{
    @apply cursor-pointer;
    @apply h-8 w-8;
}

