.sceneImage{
    z-index: -2;
    background-color: #3a3a3a;
    @apply absolute top-0 object-cover h-full w-full bg-no-repeat bg-center bg-cover;
}

.sceneVideoContainer{
    z-index: -1;
    background-color: #3a3a3a;
    @apply absolute top-0 h-screen w-screen overflow-hidden;
}

#sceneVideo{
    z-index: -1;
    @apply absolute top-0 block h-full w-full object-cover;
}